



<%= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :surname  %>
  <%= f.input :email, :disabled => true %>
  <%= f.input :country, :label => "Country", :collection => ["Germany","France","United States","Spain","United Kingdom","Portugal"] %>

  <%= f.input :current_sign_in_at, :disabled => true %>
  <%= f.input :last_sign_in_at , :disabled => true %>
  <%= f.input :current_sign_in_ip , :disabled => true %>
  <%= f.input :last_sign_in_ip , :disabled => true %>
  <%= f.input :provider %>
  <%= f.input :uid , :disabled => true %>

  <%= f.association :language_speak, collection: Language.order(:name) %>
  <%= f.association :language_improve, collection: Language.order(:name) %>

  <%= f.association :interest, collection: Interest.all, as: :check_boxes  %>

  <%= f.input_field :validated, as: :boolean, inline_label: 'Validated?' %>

  <%= f.input_field :subscribed, as: :boolean, inline_label: 'Subscribed?' %>
  <%= f.collection_select :role, User::ROLES, :to_s, :humanize %>


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
      users_path, :class => 'btn' %>
  </div>
<% end %>
