<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>



  <%= link_to raw("<i class=\"icon-white icon-user \">Search User</i>"),
    {controller: 'users', action: 'index'},
    class: "btn btn-success btn-large",
    id: "search",
    rel:'popover',
    data: {placement: 'right',  toggle: 'popover', trigger: 'hover', content: 'Go catch your exchange partner. This funcion will be implemented soon :) ' }
  %>


</div>


<table class="table table-striped">
  <thead>
    <tr>
      <% if can? :manage, model_class.model_name %>
        <th><%= model_class.human_attribute_name(:id) %></th>
        <th><%= model_class.human_attribute_name(:email) %></th>
        <th><%= model_class.human_attribute_name(:subscribed) %></th>
      <% end %>
      <th><%= model_class.human_attribute_name(:foto) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:surname) %></th>
      <th><%= model_class.human_attribute_name(:country) %></th>
      <th><%= "Free at"%></th>
      <th><%= model_class.human_attribute_name(:language_speak) %></th>
      <th><%= model_class.human_attribute_name(:language_improve) %></th>
      <% if can? :update, model_class.model_name %>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>

      <% if current_user.admin?  %>
        <tr>
          <% if can? :update, model_class.model_name %>
            <td><%= link_to user.id, user_path(user) %></td>
            <td><%= user.email %></td>
            <td><%= user.subscribed %></td>
          <% end %>
          <td><%= link_to image_tag(user.foto), user_path(user)%></td>
          <td><%= user.name %></td>
          <td><%= user.surname %></td>
          <td><%= user.country %></td>
          <td>
            <small>
              <% user.appointments.each do |app| %>
                <% ava = app.available %>
                <%= link_to raw("<i class=\"\"> #{ava.day} #{ava.starts.strftime("%I:%M %p")} </i>"),
                  appointment_path(app,
                                   :appointment =>{:status => "sent"}),
                                   class: "btn btn-mini",
                                   :method => :put,
                                   :confirm => "Do you want to send him an email to speak on #{ava.day} at #{ava.starts.strftime("%I:%M %p")}?"
                                 %>
                             <% end %>
                           </small>
                         </td>
                         <td><% user.language_speak.each do |language|  %>
                           <%= language.name %>
                         <% end %>
                       </td>
                       <td><% user.language_improve.each do |language|  %>
                         <%= language.name %>
                       <% end %>
                     </td>
                     <td>
                       <% if can? :update, model_class.model_name %>
                         <%= link_to raw("<i class=\"icon-white icon-user\">Edit</i>"),
                           {controller: 'users', action: 'edit', id: user.id },
                           class: "btn btn-mini",
                           :method => :get
                         %>
                     <% end %>

                     <% if can? :destroy, model_class.model_name %>
                       <%= link_to raw("<i class=\"icon-white icon-user\">Delete</i>"),
                         {controller: 'users', action: 'destroy', id: user.id },
                         class: "btn btn-mini btn-danger",
                         :method => :delete,
                         data: { confirm: "Are you sure?" }
                       %>

                   <% end %>
                 </td>

               </tr>
             <% elsif current_user.compatible?(user)  %>

               <tr>
                 <% if can? :update, model_class.model_name %>
                   <td><%= link_to user.id, user_path(user) %></td>
                   <td><%= user.email %></td>
                 <% end %>
                 <td><%= link_to image_tag(user.foto), user_path(user)%></td>
                 <td><%= user.name %></td>
                 <td><%= user.surname %></td>
                 <td><%= user.country %></td>
                 <td>
                   <small>
                     <% user.appointments.each do |app| %>
                       <% ava = app.available %>
                       <%= link_to raw("<i class=\"\"> #{ava.day} #{ava.starts.strftime("%I:%M %p")} </i>"),
                         appointment_path(app,
                                          :appointment =>{:status => "sent"}),
                                          class: "btn btn-mini",
                                          :method => :put,
                                          :confirm => "Do you want to send him an email to speak on #{ava.day} at #{ava.starts.strftime("%I:%M %p")}?"
                                        %>
                                    <% end %>
                                  </small>
                                </td>
                                <td><% user.language_speak.each do |language|  %>
                                  <%= language.name %>
                                <% end %>
                              </td>
                              <td><% user.language_improve.each do |language|  %>
                                <%= language.name %>
                              <% end %>
                            </td>
                            <td>
                              <% if can? :update, model_class.model_name %>
                                <%= link_to raw("<i class=\"icon-white icon-user\">Edit</i>"),
                                  {controller: 'users', action: 'edit', id: user.id },
                                  class: "btn btn-mini",
                                  :method => :get
                                %>
                            <% end %>

                            <% if can? :destroy, model_class.model_name %>
                              <%= link_to raw("<i class=\"icon-white icon-user\">Delete</i>"),
                                {controller: 'users', action: 'destroy', id: user.id },
                                class: "btn btn-mini btn-danger",
                                :method => :delete,
                                data: { confirm: "Are you sure?" }
                              %>

                          <% end %>

                        </td>

                      </tr>
                    <% end %>
                  <% end %>

                </tbody>
              </table>

              <% if can? :create, model_class.model_name %>
                <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_user_path,
                  :class => 'btn btn-primary' %>

              <% end %>
