<div class="container">
  <div class="row">
<div class="page-header">

<h2 class="featurette-heading">Select <span class="muted">free time</span> of user and make an appointment with him.</h2>



      </div>




<%- model_class = User -%>


</div>
<div class="search">
  <%= form_tag users_path, :method => 'get',:class => 'form-inline' do %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil, :class => 'btn btn-primary' %>
<% end %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <% if can? :manage, model_class.model_name %>
        <th><%= sortable "id" %></th>
        <th><%= sortable "email" %></th>
        <th><%= sortable "validated" %></th>
        <th><%= sortable "subscribed" %></th>
        <th><%= sortable "country" %></th>
      <% end %>
      <th><%= sortable "foto" %></th>
      <th><%= sortable "name" %></th>
      <th><%= sortable "surname", "Last Name" %></th>
      <th><%= "Free time"%></th>
      <th><%= model_class.human_attribute_name(:language_speak) %></th>
      <th><%= model_class.human_attribute_name(:language_improve) %></th>
      <% if can? :update, model_class.model_name %>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>

      <% if current_user.admin?  %>
        <tr>
          <% if can? :update, model_class.model_name %>
            <td><%= link_to user.id, user_path(user) %></td>
            <td><%= user.email %></td>
      <th><%= user.validated? %></th>
            <td><%= user.subscribed %></td>
            <td><%= user.country %></td>

          <% end %>
          <td><%= link_to user_path(user) do %>
            <%=  image_tag user.foto, alt: "Foto #{user.name} #{user.surname}"    %>
         <% end %>
        </td>
          <td><%= user.name %></td>
          <td><%= user.surname %></td>
          <td>
            <small>
              <% user.appointments.each do |app| %>
                <% ava = app.available %>
                <%= link_to raw("<i class=\"\"> #{ava.day} #{ava.starts.strftime("%H:%M")} </i>"),
                  appointment_path(app,
                                   :appointment =>{:status => "sent"}),
                                   class: "btn btn-mini",
                                   :method => :put,
                                   :confirm => "Do you want to send him an email to speak on #{ava.day} at #{ava.starts.strftime("%H:%M")}?"
                                 %>
                             <% end %>
                           </small>
                         </td>
                         <td><% user.language_speak.each do |language|  %>
                           <%= language.name %>
                         <% end %>
                       </td>
                       <td><% user.language_improve.each do |language|  %>
                         <%= language.name %>
                       <% end %>
                     </td>
                     <td>
                       <% if can? :update, model_class.model_name %>
                         <%= link_to raw("<i class=\"icon-white icon-user\">Edit</i>"),
                           {controller: 'users', action: 'edit', id: user.id },
                           class: "btn btn-mini",
                           :method => :get
                         %>
                     <% end %>

                     <% if can? :destroy, model_class.model_name %>
                       <%= link_to raw("<i class=\"icon-white icon-user\">Delete</i>"),
                         {controller: 'users', action: 'destroy', id: user.id },
                         class: "btn btn-mini btn-danger",
                         :method => :delete,
                         data: { confirm: "Are you sure?" }
                       %>

                   <% end %>
                 </td>

               </tr>
             <% elsif current_user.compatible?(user)  %>

               <tr>
                 <% if can? :update, model_class.model_name %>
                   <td><%= link_to user.id, user_path(user) %></td>
                   <td><%= user.email %></td>
                   <td><%= user.country %></td>
                 <% end %>
                 <td><%= link_to image_tag(user.foto), user_path(user)%></td>
                 <td><%= user.name %></td>
                 <td><%= user.surname %></td>
                 <td>
                   <small>
                     <% user.appointments.each do |app| %>
                       <% ava = app.available %>
                       <%= link_to raw("<i class=\"\"> #{ava.day} #{ava.starts.strftime("%H:%M %p")} </i>"),
                         appointment_path(app,
                                          :appointment =>{:status => "sent"}),
                                          class: "btn btn-mini",
                                          :method => :put,
                                          :confirm => "Do you want to send him an email to speak on #{ava.day} at #{ava.starts.strftime("%H:%M %p")}?"
                                        %>
                                    <% end %>
                                  </small>
                                </td>
                                <td><% user.language_speak.each do |language|  %>
                                  <%= language.name %>
                                <% end %>
                              </td>
                              <td><% user.language_improve.each do |language|  %>
                                <%= language.name %>
                              <% end %>
                            </td>
                            <td>
                              <% if can? :update, model_class.model_name %>

                                <%= link_to raw("<i class=\"icon-white icon-user\">Edit</i>"),
                                  {controller: 'users', action: 'edit', id: user.id },
                                  class: "btn btn-mini",
                                  :method => :get
                                %>
                            <% end %>

                            <% if can? :destroy, model_class.model_name %>
                              <%= link_to raw("<i class=\"icon-white icon-user\">Delete</i>"),
                                {controller: 'users', action: 'destroy', id: user.id },
                                class: "btn btn-mini btn-danger",
                                :method => :delete,
                                data: { confirm: "Are you sure?" }
                              %>

                          <% end %>

                        </td>

                      </tr>
                    <% end %>
                  <% end %>

                </tbody>
              </table>
              <%= will_paginate @users %>
<div class="form-actions">

<div class="span6"> </div>
<div class="span7">
 <%= link_to t('.back', :default => t("helpers.links.back")),
              tandem_users_path, :class => 'btn'  %>

   <% if can? :create, model_class.model_name %>
                <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_user_path,
                  :class => 'btn btn-primary' %>

              <% end %>

       </div>

    </div>

 </div>
</div>

