<div class="page-header">
	<h1>Metrics <small>and other important information</small></h1>
</div>

<div class="well well-lg">
	<ul class="unstyled inline">
		<li>
			<span class="icon-user"></span>Total users:<%= @users.size %>
		</li>
		<li>
			Total slots in the schedule <%= @availables_total %>
		</li>
		
	</ul>
	<ul class="unstyled inline">
		<li>
			<span class="icon-calendar"></span>Total petitions of tandem  <%= @tandem_petitions %>
		</li>
	<li>
			<span class="icon-calendar"></span>Total petitions sent <%= @appointments_sent %>
		</li>
		<li>
			<span class="icon-calendar"></span>Total petitions of accepted  <%= @appointments_accepted %>
		</li>
		<li>
			<span class="icon-calendar"></span>Total petitions of canceled <%= @appointments_canceled %>
		</li>
		
		
	</ul>
	<hr class="divider"></hr>
	<h3>Other metrics to be included: Suggestions??</h3>
		<ul class="unstyled inline">
		
		<li>

		% languages ofered
		</li>
		<li>

		% language demanded
		</li>

		Total number of languages ofered
		<li>

		Total number of language demanded
		</li>

	</ul>
</div>
