
<% @title="Main screen" %>

<body class=" menu-right-hidden">


  <!-- Main Container Fluid -->
  <div class="container-fluid menu-hidden">



    <!-- Content -->
    <div id="content">

      <div class="container-fluid">

        <div id="menu-top" class="menu-top-inverse margin-none ">
          <div class="container ">	<ul class="main pull-left">
              <li >
                <% pending = Appointment.pending(current_user) %>
                <%  pending == 0 ? id = "" : id = "gritter-add-primary btn btn-primary btn-block " %>
                  <%= link_to raw("<i class=\" fa fa-fw fa-calendar-o \"></i> ") +pending.to_s ,appointments_path, class: id %>
              </li>
              <li>
                <%= link_to raw("<i class=\"fa fa-fw fa-group\"></i> ") + "List of users", users_path %>
              </li>
              <li >
                <%= link_to raw("<i class=\"fa fa-fw fa-signal\"></i> ") + "Plan your learning", availables_path %>

              </li>
              <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href=""><i class="fa fa-fw fa-gear"></i><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li> <%= link_to 'Profile', edit_user_registration_path %></li>
                  <li> <%= link_to "Logout", destroy_user_session_path, method: :delete, id: "sign_out" %></li>
                </ul>
              </li>
            </ul>
        </div></div>

<% flash.each do |name, msg| %>
        <% if name!=:just_signed_up %>
        <div  class="hidden alert alert-<%= name == :notice ? "success" : "error" %>">
          <%=  msg  %>
        </div>

        <% end %>
        <% end %>

        <!-- // END navbar -->

        <div id="nav" class="navbar hidden-print  navbar-default margin-none " >
          <div class="container padding-none pull-left col-xs-12 col-sm-12 col-md-12 col-lg-12">

          <div class="row row-app margin-none">

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  ">

          <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
          </div>
          <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
           <ul class="padding-none pull-left col-xs-12 col-sm-12 col-md-12 col-lg-12">

          <a id="logo" href="index.html?lang=en" class="animated fadeInDown pull-left"><img src="../assets/app-logo-style-default.png" alt="" class="img-clean" width="37"></a>
          <ul class="notifications ">
            <li class="dropdown notif">
              <a href="" class="dropdown-toggle"  data-toggle="dropdown"><i class="notif-block fa fa-comments-o"></i><span class="badge badge-primary">7</span></a>
              <ul class="dropdown-menu chat media-list">
                <li class="media">
                  <a class="pull-left" href="#"><img class="media-object thumb" src="../assets/15.jpg" alt="50x50" width="50"/></a>
                  <div class="media-body">
                    <span class="label label-default pull-right">5 min</span>
                    <h5 class="media-heading">Adrian D.</h5>
                    <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  </div>
                </li>
                <li class="media">
                  <a class="pull-left" href="#"><img class="media-object thumb" src="../assets/16.jpg" alt="50x50" width="50"/></a>
                  <div class="media-body">
                    <span class="label label-default pull-right">2 days</span>
                    <h5 class="media-heading">Jane B.</h5>
                    <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  </div>
                </li>
                <li class="media">
                  <a class="pull-left" href="#"><img class="media-object thumb" src="../assets/17.jpg" alt="50x50" width="50"/></a>
                  <div class="media-body">
                    <span class="label label-default pull-right">3 days</span>
                    <h5 class="media-heading">Andrew M.</h5>
                    <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  </div>
                </li>
                <li><a href="#" class="btn btn-primary"><i class="fa fa-list"></i> <span>View all messages</span></a></li>
              </ul>
            </li>
          </ul>


<div class="col-xs-6 col-sm-8 col-md-8 col-lg-8">
            <div class="input-group">

  <%= form_tag users_path, :method => 'get',:class => 'form-inline' do %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>

              <span class="input-group-btn">
  <%= text_field_tag :search, params[:search],:class=>"form-control input-sm", placeholder: "Search tandems ..." %>
  <%= button_tag raw( "<i class='fa fa-search'></i>") , :name => nil, :class => 'btn btn-primary' %>
</span>
<% end %>
</div>


            </div><!-- /input-group -->
        </div>
        </div>
        </div>

        <div class="navbar-collapse collapse">



          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    </ul>
</div>




      <div class="layout-app" >

        <div class="container">
          <!-- row -->
          <div class="row row-app margin-none">

            <!-- col -->
            <div class="col-md-2 col-sm-4">

              <!-- col-separator.box -->
              <div class="col-separator box col-separator-first reset-components">
                <div class="bg-white">
                  <div class="profile-avatar">
                    <div class="text-center">
                      <img src="../assets/avatar.jpg" class="img-responsive img-clean" />
                    </div>
                  </div>

                  <div class="innerAll">
                    <h4><i class="fa fa-circle text-success pull-right"></i> <%= @user.name + " " + @user.surname %></h4>
                    <p class="margin-none text-muted">Native Languages: </p><p class="margin-none" ><%= @user.improve_string %></p>
                    <p class="margin-none text-muted">Needs to improve: <p class="margin-none"><%= @user.speak_string %></p>

                    <div class="text-center">
                    <h2> <i class="fa fa-star-half-empty"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i> </h2>
                  </div>

                  </div>

                </div>
                <div class="col-separator-h box"></div>

              </div>
              <!-- // END col-separator.box -->

            </div>
            <!-- // END col -->

            <!-- col -->
            <div class="col-md-10 col-sm-8">

              <!-- col-separator -->
              <div class="col-separator border-none">

                <!-- col-table -->
                <div class="col-table">

                  <!-- col-table-row -->
                  <div class="col-table-row">

                    <!-- col-app -->
                    <div class="col-app">

                      <!-- row-app -->
                      <div class="row row-app margin-none">

                        <!-- col -->
                        <div class="col-lg-10 col-md-9 col-sm-12">

                          <!-- col-separator -->
                          <div class="col-separator col-unscrollable">

                            <!-- col-table -->
                            <div class="col-table">

                              <!-- box -->
                              <div class="row row-merge box margin-none">

                                <!-- col -->

<div class="col-lg-6 reset-components">
												
												<div class="widget widget-tabs widget-tabs-icons-only-2 widget-activity margin-none widget-activity-social">

	<!-- Tabs Heading -->
	<div class="widget-head">
		<ul>
			<li class="active"><a data-toggle="tab" href="#webcamTab" class="glyphicons webcam"><i></i></a></li>
			<li><a data-toggle="tab" href="#shareTab" class="glyphicons user"><i></i></a></li>
		</ul>
	</div>
	<!-- // Tabs Heading END -->

	<div class="widget-body padding-none">
		<div class="tab-content">

			<div class="tab-pane " id="shareTab">
				<div class="share">
					<textarea class="form-control" rows="2" placeholder="This form is NOT working yet..."></textarea>

					<a class="btn btn-primary btn-sm">Submit <i class="fa fa-arrow-circle-o-right"></i></a>
				</div>
			</div>
			<div class="tab-pane active innerAll text-center" id="webcamTab">
				<h4>Start to speak</h4>
				<p>Tandem Spot would like to start your webcam.</p>
				<button class="btn btn-primary"><i class="fa fa-video-camera"></i> Speak Now</button>
				<button class="btn btn-danger"><i class="fa fa-ban"></i></button>
			</div>

		</div>
	</div>
</div>



                                                               </div>
                                <!-- // END col -->


                                <!-- col -->
                                                               <!-- // END col -->
                              </div>
                              <!-- // END box -->

                              <div class="col-separator-h"></div>

                              <!-- col-table-row -->
                              <div class="col-table-row">

                                <!-- box -->
                                <div class="col-app box col-unscrollable overflow-hidden">

                                 	<div class="col-table">

													<div class="innerLR heading-buttons border-bottom">
														<h4 class="innerTB margin-none pull-left">Recent Activity</h4>
														<div class="btn-group btn-group-xs pull-right">
															<button class="btn btn-default filled"><i class="fa fa-refresh "></i></button>
															<button class="btn btn-default "><i class="fa fa-cog "></i></button>
														</div>
														<div class="clearfix"></div>
													</div>

													<!-- col-table-row -->
													<div class="col-table-row">

														<!-- col-app -->
														<div class="col-app col-unscrollable">

															<!-- col-app -->
															<div class="col-app">
																<ul class="timeline-activity list-unstyled">
	<li class="active">
		<i class="list-icon fa fa-share"></i>
		<div class="block block-inline">
			<div class="caret"></div>
			<div class="box-generic">
				<div class="timeline-top-info bg-gray border-bottom">
					<i class="fa fa-user"></i> <a href="">Victor</a> has had a <a href="" class="text-primary">Speak Now</a> <a href="#"><img src="../assets/images/people/80/4.jpg" alt="photo" width="20"></a> <a href="">Marina</a>
					<div class="timeline-bottom">
						<i class="fa fa-clock-o"></i> 2 days ago

					</div>
				</div>
				<div class="media innerAll margin-none">
          <a class="pull-left" href="#"><img src="../assets/1.jpg" alt="photo" class="media-object" width="35"></a>
			        <div class="media-body">
			          	<a href="" class="strong">Marina</a> Great tandem partner. I rate you five starts! Very nice to meet you! Congrats and hope to see more admin templates like this in the future.
		     			<div class="timeline-bottom">
							<i class="fa fa-clock-o"></i> 2 day ago
						</div>
			        </div>
			    </div>
		     	<div class="media innerAll margin-none bg-gray border-top border-bottom">
			       	<a class="pull-left" href="#"><img src="<%= User.find_by_email("victordp86@gmail.com").foto %>" alt="photo" width="35" class="media-object"></a>
			        <div class="media-body">
			        	<a href="" class="strong">Victor</a> Thanks, I  apreciate it!
			     		<div class="timeline-bottom">
							<i class="fa fa-clock-o"></i> 1 days ago
						</div>
			        </div>
		      	</div>

			</div>

		</div>
	</li>
	<li>
		<i class="list-icon fa fa-map-marker"></i>
		<div class="block block-inline">
			<div class="caret"></div>
			<div class="box-generic">
				<div class="timeline-top-info">
					<i class="fa fa-user"></i>
					<a href="">Pablo</a> has been rated
					<a href="" class="text-primary"><i class="text-primary fa fa-location-arrow"></i> English level</a>
				</div>
				<div class="media margin-none">
					<div class="row innerLR innerB">
						<div class="col-sm-4 col-lg-3">
							<div class="innerT">
								<div class="icon-block text-center ">
									<span class="glyphicons cup"><i></i></span>
								</div>
							</div>
						</div>
						<div class="col-sm-8 col-lg-9">
							<div class="innerT">
								<h5 class="strong">Bran Castle</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, aspernatur ut fuga eum cumque delectus voluptate impedit quaerat sapiente officiis fugit voluptates sit neque quibusdam beatae est modi repudiandae unde.</p>
								<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> 3.5
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="timeline-bottom innerT half">
				<i class="fa fa-clock-o"></i> 2 days ago  <span class="innerL"><i class="fa fa-calendar fa-fw"></i> 25 Oct 2013</span>
			</div>
		</div>
	</li>
	<li>
		<i class="list-icon fa fa-comments"></i>
		<div class="block block-inline">
			<div class="caret"></div>
			<div class="box-generic">
				<div class="timeline-top-info">
					<i class="fa fa-user"></i> <a href="">mosaicpro</a> wrote a <a href="" class="text-primary">comment</a> to <a href="#"><img src="../assets/images/people/80/2.jpg" width="20" /></a> <a href="">Jane S.</a>
					<div class="timeline-bottom">
						<i class="fa fa-clock-o"></i> 6 days ago
					</div>
				</div>
				<div class="bg-gray innerAll border-top">Good Job. Congrats and hope to see you soon.</div>
			</div>

		</div>
	</li>
	<li>
		<i class="list-icon fa fa-user"></i>
		<div class="block">
			<div class="caret"></div>
				<div class="inline-block box-generic">
					<div class="timeline-top-info bg-gray border-bottom">
						<i class="fa fa-user"></i> <a href="">mosaicpro</a> is following <a href="#"><img  src="../assets/images/people/80/1.jpg" width="20"/></a> <a href="">Jane S.</a>
					</div>
					<div class="media innerAll margin-none">
				        <a class="pull-left" href="#">
				          <img src="../assets/images/people/80/1.jpg" alt="photo" class="media-object" width="35">
				        </a>
				        <div class="media-body">
				          <a href="" class="strong">Jane Smith</a>
				          <a href="" class="clearfix text-primary strong">www.domain.com</a>
				     	<div class="media-icons">
								<a href=""><i class="fa fa-clock-o"></i></a>
								<a href=""><i class="fa fa-calendar"></i></a>
								<a href=""><i class="fa fa-user"></i></a>
								<a href=""><i class="fa fa-star"></i></a>
							</div>
				        </div>
			      </div>
				</div>

				<div class="inline-block box-generic">
					<div class="timeline-top-info bg-gray border-bottom">
						<i class="fa fa-user"></i> <a href="">mosaicpro</a> is following <a href="#"><img  src="../assets/images/people/80/1.jpg" width="20"/></a> <a href="">Jane S.</a>
					</div>

					<div class="media innerAll margin-none ">
				        <a class="pull-left" href="#">
				          <img src="../assets/images/people/80/1.jpg" alt="photo" class="media-object" width="35">
				        </a>
				        <div class="media-body">
				          <a href="" class="strong">Jane Smith</a>
				          <a href="" class="clearfix text-primary strong">www.domain.com</a>
				     	<div class="media-icons">
								<a href=""><i class="fa fa-clock-o"></i></a>
								<a href=""><i class="fa fa-calendar"></i></a>
								<a href=""><i class="fa fa-user"></i></a>
								<a href=""><i class="fa fa-star"></i></a>
							</div>
				        </div>
			      </div>
			</div>
		</div>
	</li>
	<li>
		<i class="list-icon fa fa-camera"></i>
		<div class="block block-inline">
			<div class="caret"></div>
			<div class="box-generic">
				<div class="timeline-top-info">
					<i class="fa fa-user"></i> <a href="">mosaicpro</a> has uploaded 10 photos in <a href="" class="text-primary"><i class="text-primary fa fa-location-arrow"></i> Album Name #2</a>
				</div>
				<div class="innerLR innerB">

					<a href="#" class="thumbnail pull-left border-none"><img src="../assets/images/people/80/1.jpg" alt="photo" width="35"/></a>

					<a href="#" class="thumbnail pull-left border-none"><img src="../assets/images/people/80/2.jpg" alt="photo" width="35"/></a>

					<a href="#" class="thumbnail pull-left border-none"><img src="../assets/images/people/80/3.jpg" alt="photo" width="35"/></a>

					<a href="#" class="thumbnail pull-left border-none"><img src="../assets/images/people/80/4.jpg" alt="photo" width="35"/></a>

					<a href="#" class="thumbnail pull-left border-none"><img src="../assets/images/people/80/5.jpg" alt="photo" width="35"/></a>

					<a href="#" class="thumbnail pull-left border-none"><img src="../assets/images/people/80/6.jpg" alt="photo" width="35"/></a>

					<a href="#" class="thumbnail pull-left border-none"><img src="../assets/images/people/80/7.jpg" alt="photo" width="35"/></a>

					<a href="#" class="thumbnail pull-left border-none"><img src="../assets/images/people/80/8.jpg" alt="photo" width="35"/></a>

					<a href="#" class="thumbnail pull-left border-none"><img src="../assets/images/people/80/9.jpg" alt="photo" width="35"/></a>

					<a href="#" class="thumbnail pull-left border-none"><img src="../assets/images/people/80/10.jpg" alt="photo" width="35"/></a>
										<div class="clearfix"></div>
				</div>
			</div>
			<div class="separator bottom"></div>
		</div>
	</li>
</ul>


															</div>
															<!-- // END col-app -->

														</div>
														<!-- // END col-app -->

													</div>
													<!-- // END col-table-row -->

												</div>

                                   <!-- // END col-table -->

                                </div>
                                <!-- // END col-app.box -->

                              </div>
                              <!-- // END col-table-row -->

                            </div>
                            <!-- // END col-table -->

                          </div>
                          <!-- // END col-separator -->

                        </div>
                        <!-- // END col -->

                        <!-- col -->
                        <div class="col-sm-12 col-md-3 col-lg-2">

                          <!-- col-separator -->
                          <div class="col-separator col-unscrollable box col-separator-last reset-components">

                            <!-- col-table -->

                              <!-- col-table-row -->
                              <div class="col-table-row">
<!-- col-app -->
                                <div class="col-app col-unscrollable">

                                  <!-- col-app -->
                                  <div class="col-app">

                                    <ul class="list-unstyled friends-list"  >
 <% @appointments.each do |appointment| %>


        <% if current_user == appointment.user_starter %>
         <% user = User.find appointment.user_id %>
        <% else %>
        <% user = User.find appointment.user_starter %>
        <% end %>
        <% (user.foto.nil? || user.foto.empty? ) ? foto = "../assets/icono1.png" : foto = user.foto %>
        <li><a data-toggle="image-preview" data-title=" <%= user.name %>" data-content="<small><%= user.speak_string %></small>" data-image-preview="<%= foto %>" href="<%= appointments_path %>" class="<%=  'btn-success ' if appointment.status == 'accepted' %>glyphicons user"><i></i>  <%= user.name + " "+ appointment.day + " " + appointment.time %> </a>  </li>
      <% end %>
      





                                     </ul>

                                  </div>
                                  <!-- // END col-app -->

                                </div>
                                <!-- // END col-app -->

                              </div>
                              <!-- // END col-table-row -->

                              <div class="col-separator-h box"></div>



        <%= simple_form_for(@available) do |f| %>

      <h4 class = "text-center">Schedule your free time</h4>
      <%= f.collection_select :day, Available::DAYS, :to_s, :humanize,{}, :multiple=> true, :class => "btn btn-block" %>

                <div class="input-group bootstrap-timepicker">
       <%= f.input :starts, as: :string, label: false,  input_html: { class: 'form-control', id: 'timepicker1' } %>
       <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>


     </div>



             <%= button_tag raw( "<i class='fa fa-plus'> Add free time</i>") ,:class =>"btn btn-primary btn-block" %>

  <% end %>





                              </div>

                              <div class="innerAll">



                              </div>

      <ul class="list-unstyled friends-list">

         <% @availables.each do |ava| %>
           <li><%= link_to raw("<i class=\" \"></i> " + ava.day + " " + ava.starts.strftime("%H:%M")) ,{controller: 'availables', action: 'edit' , id: ava.id},  class: 'glyphicons clock', :method => :get %></li>

      <% end %>


                              <div class="col-separator-h box"></div>

                              <!-- Stats Widget -->
                              <a href="" class="widget-stats widget-stats-gray widget-stats-2">
                                <span class="count">14</span>
                                <span class="txt">New Members</span>
                              </a>
                              <!-- // Stats Widget END -->


                            </div>
                            <!-- // END col-table -->

                          </div>
                          <!-- // END col-separator -->

                        </div>
                        <!-- // END col -->

                      </div>
                      <!-- // END row -->

                    </div>
                    <!-- // END col-app -->

                  </div>
                  <!-- // END col-table-row -->

                </div>
                <!-- // END col-table -->

              </div>
              <!-- // END col-separator -->

            </div>
            <!-- // END col -->

          </div>
          <!-- // END row-app -->




        </div>
      </div>
    </div>
    <!-- // Content END -->

    <div class="clearfix"></div>
    <!-- // Sidebar menu & content wrapper END -->

    <!-- Footer -->
    <div id="footer" class="hidden-print">

      <!--  Copyright Line -->
      <div class="copy">&copy; 2012 - 2014 - <a href="http://www.mosaicpro.biz">MosaicPro</a> - All Rights Reserved. <a href="http://themeforest.net/?ref=mosaicpro" target="_blank">Purchase CORAL on ThemeForest</a> - Current version: v1.9.6 / <a target="_blank" href="../assets/../../CHANGELOG.txt">changelog</a></div>
      <!--  End Copyright Line -->

    </div>
    <!-- // Footer END -->


  </div>
  <!-- // Main Container Fluid END -->


  <!-- Global -->
  <script data-id="App.Config">
    var basePath = '',
    commonPath = '../assets/',
    rootPath = '../',
    DEV = false,
    componentsPath = '../assets/',
    layoutApp = false,
    module = 'admin';

var primaryColor = '#eb6a5a',
    dangerColor = '#b55151',
    successColor = '#609450',
    infoColor = '#4a8bc2',
    warningColor = '#ab7a4b',
    inverseColor = '#45484d';

var themerPrimaryColor = primaryColor;
</script>


