<% @title="Learn languages speaking. Tandem Spot BETA" %>

 <%= javascript_include_tag "phobos/experiment", :async => true  %>
 <%= javascript_include_tag "home", :async => true  %>
 <style>
   /*
   Other comment
   */
 /* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
      padding-bottom: 40px;
      color: #5a5a5a;
    }



    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */
    /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-bottom: 60px;
      margin-top: -20px;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
      height: 500px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 200px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }



    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
      text-align: center;
    }
    .marketing h2 {
      font-weight: normal;
    }
    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }


    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
      padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }



    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }

      .btn-xlarge {
    padding: 18px 28px;
    font-size: 22px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}
    }


    @media (max-width: 767px) {

      .navbar-inner {
        margin: -20px;
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }
      .carousel-caption {
        margin-top: auto;

      }
      h1{
        display: none;
      }

    .btn-xlarge {
      padding: 10px 15px!important;
      font-size: 10px!important; //change this to your desired size
      line-height: normal;
      -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}
    }


    @media (max-width: 319px) {

      .navbar-inner {
        margin: -20px;
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 320px;
      }
      .carousel img {
        display: none!important;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }
      .carousel-caption {
        margin-top: auto;
        padding: 0 10px;
      }

      h1{
        display:inline-block;
        font-size: 20px!important;
         color: #white!important;


      }

      .chzn-choices {
        width: 70%!important;
      }
      .carousel-inner{
        background-color: #D65A29!important;
      }
      .control-label{
        color: white;
        font-weight:bold;

      }

    #new_user{
      padding: 10px;
    }
    .btn-large {
      padding: 10px 15px!important;
      font-size: 14.5px!important; //change this to your desired size
      line-height: normal;
      -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}
    }










    </style>


<div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
           <div class="container">
           <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"/>
           <%= link_to 'Tandem Spot BETA', tandem_users_path, class: "brand black" %>
           <div class="nav-collapse">
            <ul class="nav">

                  <li> <%= link_to 'Home', root_path %></li>
                  <li> <%= link_to "Sign up", new_user_registration_path %></li>

                  <li>  <%= link_to "Login", new_user_session_path %></li>

                  <li>  <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), :id => "facebook-button-navbar" ,:class =>"facebook-button" %></li>

                  <li> <%= link_to 'Blog', "http://blog.tandemspot.com" %></li>


            </ul>

          </div>
        </div>
      </div>
    </div>

    <!-- Carousel
    ================================================== -->

    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
         <div class="item active">

          <img src="../assets/arasi.png" alt="video conference learn language">
          <div class="container">
            <div class="carousel-caption">


              <h1>Learn by speaking. BETA</h1>
      <hr class="divider">
                       </div>
 <% if not user_signed_in? %>
<%= simple_form_for resource, :html => { :class => 'form-horizontal form-inline' }, :url => user_omniauth_authorize_path(:facebook)  do |f| %>
  <%= f.association :language_speak, collection: Language.order(:name), :label =>"I can teach :" %>
  <%= f.association :language_improve, collection: Language.order(:name), :label =>"I am improving :"  %>

   <%= f.submit "Connect to the beta using facebook", :id => "facebook-button-imagen" , :class => 'btn btn-primary btn-large facebook-button'%>
<% end %>

            <% end %>

          </div>

        </div>

      </div>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span4">
          <img class="img-circle" src="../assets/23b3.png">
          <h2>Language Tandem</h2>
          <p>Without teachers, like in real conversations. Both learn and both teach. <b>Sharing is caring!</b></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" src="../assets/webweb.png">
          <h2>Langeek community</h2>
          <p>A langeek is a curious, open-minded language lover. Not afraid of <b>learning by speaking</b></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" src="../assets/web2.png">
          <h2>Broaden your horizons</h2>
          <p>Meet other cultures and open your mind. <b>Learn and have fun!</b> Connect with real native spakers around the world. </p>
        </div><!-- /.span4 -->
      </div><!-- /.row -->


   <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-right" src="../assets/world.png">
        <h2 class="featurette-heading">How does it work? <span class="muted">Easy.</span></h2>
        <p class="lead">It's not a lesson, it's an exchange. Practice your target language with a native speaker and "teach" him yours in exchange.</p>
        <p class="lead">Improve your oral skills with native speakers matching your profile and availability.</p>
        <p class="lead">  Reaching proficiency can be hard, we'll help you along the way. Dare to level up!</p>
      </div>

      <!-- /END THE FEATURETTES -->

      <hr class="featurette-divider">



 <!-- Three columns of Users -->
 <div class="row">
<h2 class="featurette-heading text-center padded">Meet our<span class="muted"> outstanding</span> members.</h2>
<br>
<br>
<br>
         <div class="span4">
     <div class="row">
       <div class="span2">
         <img class="img-circle" src="../assets/james.png">
       </div>
       <div class="span2">
         <h4>James Sheldon</h4>
         <p>Manchester, England</p>
         <p>Native: English</p>
         <p>Learns: Spanish, Portuguese, French</p>
       </div>
     </div>
     <p></b></p>
        </div><!-- /.span4 -->
    <div class="span4">
     <div class="row">
       <div class="span2">
         <img class="img-circle" src="../assets/sandra.png">
       </div>
       <div class="span2">
         <h4>Sandra Aznar</h4>
         <p>Castellon, Spain</p>
         <p>Native: Spanish, Catalan</p>
         <p>Learns: English, German</p>
       </div>
     </div>
     <p></b></p>
        </div><!-- /.span4 -->

 <div class="span4">
     <div class="row">
       <div class="span2">
         <img class="img-circle" src="../assets/stephenh.png">
       </div>
       <div class="span2">
         <h4>Stephen Hearty </h4>
         <p>Dublin, Ireland</p>
         <p>Native: English</p>
         <p>Learns: Spanish, Italian, French</p>
       </div>
     </div>
     <p></b></p>
        </div><!-- /.span4 -->


      </div><!-- /.row -->


      <hr class="featurette-divider">
      <!-- FOOTER -->
      <footer>
        <div class="footer">
          <div class="container narrow row-fluid">
            <div class="span4">
          </div>
          <div class="span12">
        <p class="text-center">Copyright &copy; Tandem Spot 2013 | <a href="#">Privacy policy</a> | <a href="#">Terms and conditions</a> | <a href="#">Help</a></p>
        <p class="pull-right"><a href="#">Back to top</a></p>
      </div>
      </footer>

    </div><!-- /.container -->

<%  session[:count].nil? ? session[:count] = 1 : session[:count] = session[:count]+1 %>
<% if session[:count] == 1 %>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Need to practice a language on-line?</h4>
      </div>
      <div class="modal-footer">
        <iframe  width="540" height="310" src="http://www.wideo.co/embed/644741390212749568?height=282&width=500" frameborder="0" allowfullscreen  ></iframe>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
      !function ($) {
        $(function(){
            // carousel demo
            $('#myCarousel').carousel()
            })
      }(window.jQuery)


</script>
 <% end %>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->



