 <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
        body{
            font-size:16px;
            font-family:Caviar Dreams,Myriad Pro, Calibri,Verdana;
            color:#494f5d;
        }
        </style>
</head>
    <body>
        <table align="center" cellspacing="0" style="background-color: #eeebea; width:600px;padding:0;margin:0;border:0;border-spacing: 0;">
            <tr align="center"  cellspacing="0" style="width:500px;padding:0;margin:0;border:0;border-spacing: 0;">
                <td colspan="3"cellspacing="0" style="width:600px;padding:0;margin:0;border:0;border-spacing: 0;"><%= image_tag "header.jpg" %></td>
            </tr>

            <tr align="center" style="background-color: #494f5c;width:600px;padding:0;margin:0;border:4;border-spacing: 0;"><td align="center" colspan="3"cellspacing="0" style="width:600px;padding:0;margin:0;border:0;border-spacing: 0;" ><div style="height:3px;"></div></td></tr>
             
            <tr>
                <td rowspan="3" style="width:100px;"></td>
                <td>
                    <table  cellspacing="0" style="width:100%;background-color: #eeebea;padding:15px 0 15px 0;margin:0;border:0;border-spacing: 0;" >
                         <tr  cellspacing="0" style="width:500px;padding:0;margin:0;border:0;border-spacing: 0;">
                <td colspan="2"cellspacing="0" style="padding: 15px;margin:0;border:0;border-spacing: 0; color:#494f5d;font-size:16px;font-family:Caviar Dreams,Myriad Pro,Verdana,"> <%=raw "#{@text1}"%> </td>
            </tr>
              <% if @appointment.status == "sent" %>
             <tr>
                <td align="center">
                    <% if @owner.foto? %>
                    <%= image_tag @owner.foto %>
                    <% else %>
                    <%= image_tag "icono1.png" %>
                    <% end %></td> 
                <td style="padding-left:25px;"> Fluent in : <%=  @language_speak %>  <br /> <br /> Learning :   <%=  @language_improve %>  </td> 
            </tr>
             <% end %> 
            <tr align="center"  cellspacing="0" style="padding:0;margin:0;border:0;border-spacing: 0;">
                <td cellspacing="0" style="padding:15px;margin:0;border:0;border-spacing: 0;"><%= image_tag "calendario.png" %></td>
                  <td cellspacing="0" style="padding:0;margin:0;border:0;border-spacing: 0;font-size:30px;"><%=raw "#{@text2}"%> </td>
            </tr>
                <tr   cellspacing="0" style="padding:0;margin:0;border:0;border-spacing: 0;">
                <td colspan="2"cellspacing="0" style="padding:15px;margin:0;border:0;border-spacing: 0;"><%=raw "#{@text3}"%></td>
            </tr>
                <tr align="center"  cellspacing="0" style="padding:0;margin:0;border:0;border-spacing: 0;">
                <td colspan="2"cellspacing="0" style="padding:0;margin:0;border:0;border-spacing: 0;">
<a href="http://tandemspot.com"><%= image_tag @img1 %></a>
                    </td>
            </tr>
                <tr  cellspacing="0" style="padding:0;margin:0;border:0;border-spacing: 0;">
                <td colspan="2"cellspacing="0" style="  padding:15px;margin:0;border:0;border-spacing: 0;">Happy speaking,</br> Tandem Spot Team</td>
            </tr>
                    </table>

                </td>
                <td rowspan="3" style="width:100px;"> </td>
             </tr>    
</table>
</br>
</br>
<a href="https://docs.google.com/forms/d/14Eq3viu8g6sbzw8pCJmkERQc6AH5-SsaB8uF5B7uVl4/viewform">Click here to make this service better or if you have a problem :)</a>

    </body>
</html>
