<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

 </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <!-- Add your site or application content here -->
<h1> Hello, <%= @user.name %> : ) Congratulations, your <span style="color:#D14115">tandem request have been accepted! </span></h1>
<h3><%= @owner.name %> wants to speak with you every <%= @appointment.available.day %> at <%= @appointment.available.starts.strftime("%I:%M %p")  %></h3>

<h4>To access the tandem you have press the button "Speak NOW" 10 minutes before the tandem starts.</h4>
	



<h4>Ask for more tandems clicking on <%= link_to "list of users", url_for(only_path: false, controller: "users", action: "index") %>.</h4>





 </script>
    </body>
</html>
