<div class="container">
  <div class="row">
    <div class="span4">
    </div>
<div class="span4">


<legend>Login</legend>

<%= simple_form_for resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical'} do |f| %>
  <fieldset>
  <%= f.input :email %>
  <%= f.input :password %>
    <% if devise_mapping.rememberable? -%>
     <%= f.check_box :remember_me, {:checked => "checked"} %>
     <%= f.label :remember_me %>
  <% end -%>


  <div class= "form-actions">
      <%= f.submit "Login" , :class => 'btn btn-large btn-primary'%>
    </div>
<% end %>

  </fieldset>
<%= render "devise/shared/links" %>
</div>
<div class="span4">
</div>
