<div class="container">
  <div class="row">
    <div class="span1">
    </div>
    <div class="span7">
<h3> Speak now don't be afraid </h3>
          <div id="videobox"></div>
          <div id='wrapper'>
            <div id='subscriber'></div>
            <div id='publisher'></div>
          </div>
          <style type="text/css">
            body {
            text-align: center;
            }

            #wrapper {
            margin: 0 auto;
            position: relative;
            width: 640px;
            height: 480px;
            }

            #subscriber {
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 1;

            }

            #publisher {
            position: absolute;
            width: 160px;
            height: 120px;
            z-index: 10;
            bottom: 10px;
            left: 10px;
            }

            #publisher_div {
            border: 1px solid white;
            }

            #subscriber_div, #publisher_div {
            width: 100%; height: 100%;
            }

          </style>

          <script src='https://swww.tokbox.com/webrtc/v2.0/js/TB.min.js'></script>
          <script language="JavaScript" type="text/javascript">
            var apiKey = "7638152";
            var session_id = "<%= @room.session_id %>";
            var token ="<%= @tok_token %>";
            var session;
            var publisher;
            $(document).ready(function() {
                TB.setLogLevel(5);
                session = TB.initSession(session_id);
                session.addEventListener("sessionConnected", sessionConnectedHandler);
                session.addEventListener("streamCreated", streamCreatedHandler);
                session.connect(apiKey, token);

var connectionCount = 0;
session.addEventListener("connectionCreated", connectionCreatedHandler);
                });

function sessionConnectedHandler(event) {
  $("#publisher").append("<div id='publisher_div'></div>");
  publisher = TB.initPublisher(apiKey, "publisher_div");
  publisher.addEventListener('accessAllowed', accessAllowedHandler);
  streamCreatedHandler(event);

}

function accessAllowedHandler(event) {
  alert("someone conected");
  $("#publisher_div").css("width", "100%").css("height", "100%");
  session.publish(publisher);
}

function streamCreatedHandler(event) {
  var stream = event.streams[0];
  if (stream.connection.connectionId != session.connection.connectionId) {
    $("#subscriber").append("<div id='subscriber_div'></div>");
    session.subscribe(event.streams[0], "subscriber_div");
    $("#subscriber_div").css("width", "100%").css("height", "100%");
  }
}





function connectionCreatedHandler(event) {
   connectionCount += event.connections.length;
   displayConnectionCount();
}
function displayConnectionCount() {
    document.getElementById("connectionCountField").value = connectionCount.toString();
}



  window.onbeforeunload = function(e) {
    //We close the room when the user exits the window
    $.ajax({
url: '../rooms/<%= Room.find(params[:id]).id %>/close',
async: false,
type: "PUT"
});
}


</script>
  <% if session[:partner] %>

    <br>Tandem with <%= User.find(session[:partner]).name %>
<% else %>
  <br>Waiting for Tandem to join ...
<% end %>
<div class="clear">

  <h2>Medallas y trofeos</h2>
  <%= image_tag "premios-01.png" %> x1
  <%= image_tag "premios-02.png" %> x3
  <%= image_tag "premios-06.png" %> x8
  <%= image_tag "premios-05.png" %> x2
  <%= link_to "Info" , room_path, :id => 'link' %>
  <input type="text" id="connectionCountField" value="0"></input>
</div>

  </div>
  <div class="span4">
    <br>
    <br>
    <br>
    <%=  image_tag "recomendaciones.png" %>

    <span id="defaultCountdown" class="countdown"></span>
    <div id="removeCountdown"></div>
    <%  @room = Room.find(params[:id]) %>
    <div class="clear">
    </div>


    <br>
    <br>
    <br>
    <br> <%  @room = Room.find(params[:id]) %>
     <%= link_to raw("<i class=\"icon-white icon-off\"> Close</i>"),
          close_room_path(@room),
          class: "btn btn-info btn-large",
          method: :get,
          rel:'popover',
         data: {placement: 'left',  toggle: 'popover', trigger: 'hover', content: 'Set your schedule and program a regular tandem with an awesome partner' }
        %>


  </div>
</div>
</div>

