<div class="container">
  <div class="row">
    <div class="span1">
    </div>
    <div class="span8">



      <div class="page-header">
        <h2> Plan your adventure</h2>
        <p>Add to your weeakly schedule the time you're free to speak. Program a periodic tandem with a great partner and level up faster. </p>
      </div>
      <table class="table table-striped table-hover ">
        <thead>
          <tr>
            <th>Day</th>
            <th>Hour (GMT+1)</th>
          </tr>
        </thead>
        <% @appointments.each do |appointment| %>

          <% if(appointment.user_id==current_user.id) %>

            <% ava = Available.find(appointment.available_id) %>
            <tr>
              <td><%= ava.day %></td>
              <td><%= ava.start_end_time %></td>
              <td>
                <%= link_to raw("<i class=\"icon-white icon-calendar\">Edit</i>"),
                  {controller: 'appointments', action: 'edit', id: appointment.id },
                  class: "btn btn-large",
                  :method => :get
                %>

              <%= link_to raw("<i class=\"icon-white icon-calendar\">Delete</i>"),
                {controller: 'appointments', action: 'destroy', id: appointment.id },
                class: "btn btn-large btn-danger",
                :method => :delete,
                data: { confirm: "Are you sure?" }
              %>
          </td>

        </tr>
      <% end %>
    <% end %>
  </table>


  <%= simple_form_for(@appointment) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">

      <%= f.label :day, "Day of the week" %>
      <%= f.input :day %>


      <%= f.label :starts, "Hour (GMT+1)" %>
      <%= f.input :starts %>

    </div>
    <div class="form-actions">
      <%= f.button :submit,"Add hour",:class =>"btn btn-primary btn-xlarge" %>
    </div>
  <% end %>

    </div>
    <div class="span4"></div>
<div class="span3">   <%= link_to raw("<i class=\"icon-white \">Continue</i>"),
    {controller: 'users', action: 'tandem'},
    class: "btn",
  rel:'popover',
         data: {placement: 'right',  toggle: 'popover', trigger: 'hover', content: 'Awesome native speakers are wating for you. Go catch your exchange partner' }
    %>


  <br />
  <br />
  <br />
  <br />
  <br />
</div>


 </div>
</div>
