<div class="container">
  <div class="row">
<div class="page-header">

<h2 class="featurette-heading">What <span class="muted">time</span> are you available to tandem?</h2>
      </div>


      <div class="span5">

 <%= simple_form_for(@available) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">

      <%= f.label "Day of the week" %>
      <%= f.collection_select :day, Available::DAYS, :to_s, :humanize,:label => "Day of week"  %>


      <%= f.label :starts," At what hour(GMT+1) are you avaiable?" %>

      <%= f.time_select :starts, :default =>Time.now.beginning_of_hour,:minute_step => 15 %>

      <%= f.input :duration, :label =>"Duration of the tandem", :default => Time.now.beginning_of_day, :minute_step => 15,:prompt => {:hour => 'Choose hours duration', :minute => 'Choose minutes of duration'} %>


    </div>
      <%= f.button :submit,"Add free time",:class =>"btn btn-primary btn-large" %>
  <% end %>





       </div>


    <div class="span7">

<h3 class="featurette-heading">List of <span class="muted">hours</span> I am available</h3>


            <table class="table table-striped table-hover ">
        <thead>
          <tr>
            <th>Day</th>
            <th>Hour (GMT+1)</th>
            <th>Duration</th>
          </tr>
        </thead>
        <% @availables.each do |ava| %>

            <tr>
              <td><%= ava.day %></td>
              <td><%= ava.starts.strftime("%H:%M") %></td>
              <td><%= ava.duration.strftime("%H:%M")  %></td>
              <td>
                <%= link_to raw("<i class=\"icon-white icon-calendar\">Edit</i>"),
                  {controller: 'availables', action: 'edit' , id: ava.id},
                  class: "btn btn-mini",
                  :method => :get
                %>

              <%= link_to raw("<i class=\"icon-white icon-calendar\">Delete</i>"),
                {controller: 'availables', action: 'destroy' , id: ava.id},
                class: "btn btn-mini btn-danger",
                :method => :delete,
                data: { confirm: "Are you sure?" }
              %>
          </td>

        </tr>
      <% end %>
  </table>
       </div>

</div>

<div class="clear">
</div>

    <div class="form-actions">

<div class="span1"> </div>
<div class="span7">

 <%= link_to t('.back', :default => t("helpers.links.back")),
              tandem_users_path, :class => 'btn pull-left '  %>

      <%= link_to raw("<i class=\"icon-white \">Continue</i>"),
    {controller: 'users', action: 'index'},
    class: "btn btn-primary pull-right",
  rel:'popover',
         data: {placement: 'right',  toggle: 'popover', trigger: 'hover', content: 'Awesome native speakers are wating for you. Go catch your exchange partner' }
    %>

      </div>

    </div>
  <br />
  <br />
  <br />

    <div class="span5">
    </div>
    <div class="span1">
       </div>
    <div class="span5">
    </div>



</div>


